.print {
      font-family: 'print_dashed', sans-serif;
      font-size: 50px;
}

.cursive {
      font-family: 'cursive_dashed', sans-serif;
      font-size: 30px;
}

.header {
      font-size: 30px;
}

.footer {
      margin-top: 20px;
      float: right;
      text-align: right;
}

.pintobottom {
      position: absolute;
      bottom: 20px;
      right: 10px;
}

body {
      text-align: center;
}

.flexcontainer {
      display: flex;
      flex-direction: row;
      width: 100%;
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      flex-wrap: wrap;
}

.flex-child {
      display: flex;
      flex: 1;
      margin: auto;
}

.flexcontainer canvas {
      border: 2px solid black;
      margin-top: 100px;
}

td.main {
      text-align: right;
}

.return {
      font-family: 'print_dashed', sans-serif;
      font-size: 30px;
      text-decoration: none;
      color: black;
}